<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='images/AB logo bigger.png') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bal.css') }}">
  <title>Add Balance</title>
</head>

<body>
  <nav>
    <a href="{{ url_for('dashboard') }}" class="logo"><img src="{{ url_for('static', filename='images/AB logo with text white.png') }}" alt="Bank Logo"></a>
    <a href="{{ url_for('dashboard') }}" class="goback">&#8592; Back</a>
  </nav>

  {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li class="flash">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
  {% endwith %}
  {% block body %}{% endblock %}

  <div class="container">
    <h1>Add Balance</h1>
    <form action="/bal" method="POST">
      <div class="form-group">
        <label for="cardno">Card Number:</label>
        <input type="number" name="cardno" required>
      </div>
      <div class="form-group">
        <label for="cvc">CVC:</label>
        <input type="password" name="cvc" required>
      </div>
      <div class="form-group">
        <label for="amount">Amount:</label>
        <input type="number" name="amount" required>
      </div>
      <div class="form-group">
        <label for="upwd">Password:</label>
        <input type="password" name="upwd" required>
      </div>
      <div class="btn">
        <button type="submit"><a href=""></a>Submit</button>
      </div>
    </form>
  </div>
</body>

</html>
